In [57]:
import pandas as pd
import os

In [63]:
# Read csv file
df = pd.read_csv('../data/cleaned_dataset.csv', sep=',')
df['id'] = df['id'].astype(str)
df.sample(3)

,username,id,caption,Fashion and Style,Food and Dining,Family and Relationships,Sports and Fitness,Entertainment,Business and Industry,Travel and Adventure,Arts and Culture,News,Pets,Technology and Gadgets
6482,persources,17952415214475488,what banana boat gang,0,0,0,1,0,0,0,0,0,0,0
7570,saraauster,17881623752743160,in january 2020 i was invited to set the tone ...,0,0,0,1,0,0,0,0,0,0,0
4358,_millergrey,18229300537120278,one of my better lockdown 2021 purchases,0,0,1,0,0,0,0,1,0,0,0

In [64]:
# Find all rows where the image is not available, to find the image path it's under folder/username/id.jpg
base = '../data/images/'
# First we create an array with all the image paths, by mapping the base path with the username and id
image_paths = list(map(lambda x: base + x[0] + '/' + str(x[1]) + '.jpg', df[['username', 'id']].values))

print('Total images:', len(image_paths))

Total images: 23749

In [65]:
# Now we check if the image exists, if not we add the id to a list
not_found = []

for path in image_paths:
    if not os.path.isfile(path):
        id = path.split('/')[-1].split('.')[0]
        not_found.append(id)

print('Not found:', len(not_found))

Not found: 1519

In [66]:
# Now we filter the dataframe to remove the rows where the image is not available
df = df[~df['id'].isin(not_found)]
df.shape

(22230, 14)

In [56]:
# Now we save the dataframe to a new csv file
df.to_csv('../data/fusion_cleaned_dataset.csv', index=False)