## Ingesting & Environment Setup

In [5]:
import pandas as pd

In [7]:
# Read csv file
df = pd.read_csv('cleaned_dataset.csv', sep=',')
df.sample(3)

,username,id,caption,Fashion and Style,Food and Dining,Family and Relationships,Sports and Fitness,Entertainment,Business and Industry,Travel and Adventure,Arts and Culture,News,Pets,Technology and Gadgets
5409,houseplantjournal,17968314814781963,new monstera albo leaf glad to see the variega...,0,0,1,0,0,0,0,0,0,0,0
7252,jimmy_lewin,18038373403268297,and little did i knowwatch until the end the r...,0,0,0,1,0,0,0,0,0,0,1
413,bluelayneboutique,17963492222170159,like if we are kinda the same,1,0,0,0,0,0,0,0,0,0,0